.autosuggest_input {
  width: 175px;
  height: 30px;
  padding: 1px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #FFF;
  font-size: 20px;
  color: #2196F3;
  appearance: none;
  transition: all 0.2s ease-in-out;
}

.autosuggest_input--focused {
  outline: none;
  border-bottom: 1px solid #2196F3;
}

.autosuggest_suggestions-list {
  list-style: none;
  color: #FFF;
  padding-left: 0;
}

.autosuggest_suggestion {
  padding: 10px;
}

.autosuggest_suggestion--highlighted {
  background: grey;
  cursor: pointer;
}
